body{
  padding-top: 70px;
}

.paginate {
  max-height: 50px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

#admin{
  margin-top: 80px;
}

.admin_name{
  font-size: 14px;
  margin-top: 15px;
  margin-left: 50px;
  font-family: sans-serif;
}

.name_color{
  color: #004de2;
  margin-left: 10px;
  margin-right: 10px;
}

.user-table{
  margin-top: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.user-table .col1{
  width: 110px;
}
.user-table .col2{
  width: 240px;
}
.user-table .col3{
  width:300px;
}
.user-table .col4{
  width: 500px;
}

.table-title div{
  font-size: 15px;
  margin-left: 5px;
  padding: 5px;
  font-family: sans-serif;
}

.table-data div{
  font-size: 13px;
  margin-left: 5px;
  padding: 5px;
  font-family: sans-serif;
}

.product-table{
  margin-top: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.product-table .col1{
  width: 60px;
}
.product-table .col2{
  width: 500px;
}
.product-table .col3{
  width:120px;
}
.product-table .col4{
  width: 120px;
}

.product-table .col5{
  width: 120px;
}

#userdetail-form input{
  margin-bottom: 15px;
}

#admindetail-form input{
  margin-bottom: 15px;
}
